@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.btn {
  font-family: "Amatic SC", cursive;
  cursor: pointer;
  max-width: 50%;
  color: whitesmoke;
  font-size: x-large;
  background: slategray;
  border: transparent;
  border-radius: 15px;
  letter-spacing: 0.1rem;
  padding: 0.375rem 0.75rem;
  text-transform: capitalize;
  display: inline-block;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: black;
}

.btn-block {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: block;
  max-width: 400px;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 2rem 2.5rem;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.6);
}

.form-input::placeholder {
  opacity: 0.2;
  color: black;
}

.form-row {
  margin-bottom: 1rem;
}

.form-label {
  font-family: "Amatic SC", cursive;
  display: block;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 15px;
  background: lightgray;
  border: 1px solid grey;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

.form-inputBio {
  width: 100%;
  height: 10rem;
  padding: 0.375rem 0.75rem;
  border-radius: 15px;
  background: lightgray;
  border: 1px solid grey;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

.sitter-title {
  font-family: "Amatic SC", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.3rem;
}

.toast {
  font-size: xx-large;
  text-align: center;
}
