.container {
  display: flex;
  justify-content: space-evenly;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.links a {
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
