.search-results {
  display: grid;
  justify-items: center;
}

.result-buttons {
  display: flex;
  justify-content: space-between;
}

.view-button {
  width: 100px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.67);
  font-size: 2rem;
}

.hide-button {
  border-radius: 10px;
  width: 100px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.67);
  font-size: 2rem;
}

.result-card {
  height: auto;
  width: 700px;
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.67);
}

.result-header {
  display: grid;
  justify-items: center;
  text-decoration: none;
  font-size: 4rem;
  font-family: "Amatic SC", cursive;
  color: black;
  -webkit-text-stroke: 0.8px white;
}

.result-image {
  margin-top: 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 0.4rem;
  object-fit: cover;
  border: 2px solid #f4a50e;
}

.result-name {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.result-location {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.result-price {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.result-availability {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.result-rating {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.result-button {
  font-size: 2rem;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.67);
}

.result-bio {
  margin: 0 15px;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 15px;
}
