.searchBar {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}

.searchBar input {
  height: 3rem;
  width: 30rem;
  border-radius: 20px;
  border: 2px solid #f4a50e;
  font-size: 1.4rem;
  text-align: center;
}

.searchIcon {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2.2rem;
  left: 27rem;
  font-size: 20px;
  max-width: 20px;
}

.results {
  height: 200px;
  width: 300px;
  display: grid;
  justify-self: center;
  overflow: hidden;
  overflow-y: auto;
  background-color: white;
  border-radius: 20px;
}

.results::-webkit-scrollbar {
  display: none;
}

.results .dataItemName {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: black;
}
.results .dataItemLocation {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: black;
}
.results .dataItemPrice {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;

  color: black;
}
.results .dataItemAvailability {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;

  color: black;
}
.results .dataItemRating {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  color: black;
}

.dataItemRating {
  color: red;
}

.dataItemName:hover {
  color: #f4a50e;
  cursor: pointer;
}
