.search-results {
  display: grid;
  justify-items: center;
}

.result-card {
  height: 200px;
  width: 350px;
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  background-color: white;
  border-radius: 20px;
}

.result-header {
  text-decoration: none;
  font-size: 4rem;
  font-family: "Amatic SC", cursive;
  color: black;
  -webkit-text-stroke: 0.8px white;
}
